form.addFeedbackForm {
    > * {
      margin: 15px 0;
    }
  
    > div > input {
      width: 100%;
    }
  }

  .wrapper {
    font-size: 16px;

    &.dark {
      color: white;
      background: black;
    }
  
    &.light {
      color: black;
      background: white;
    }
  }

 